<?xml version="1.0"?>
<config>
    <modules>
        <Bitbull_GoogleAnalyticsCheckoutFunnel>
            <version>0.1.0</version>
        </Bitbull_GoogleAnalyticsCheckoutFunnel>
    </modules>
    <frontend>
        <layout>
            <updates>
                <bitbull_googleanalyticscheckoutfunnel>
                    <file>bitbull/google_analytics_checkout_funnel.xml</file>
                </bitbull_googleanalyticscheckoutfunnel>
            </updates>
        </layout>
    </frontend>
</config>